@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
   
    bool.TryParse(TempData["error_name"]?.ToString()!, out bool error_name);
    bool.TryParse(TempData["error_email"]?.ToString()!, out bool error_email);
    bool.TryParse(TempData["error_message"]?.ToString()!, out bool error_message);

    var sectionTitle = Model.Content.Value<string>("sectionTitle") ?? "";
    var headline = Model.Content.Value<string>("headline") ?? "";
    var preamble = Model.Content.Value<string>("preamble") ?? "";
}



<section id="contact-us">
	<div class="container big-form">
		<div class="text">
			<h6>@sectionTitle</h6>
			<h2>@headline</h2>
			<p>@preamble</p> 
		</div>
		<div class="form-items">
			@if (TempData["success"] != null)
			{
				<div class="success-message">@ViewData["success"]</div>
			}
			else
			{
				@using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
				{
					<div class="form-input-group">
						<label class="form-label" for="name">Name</label>
						<input id="name" name="name" type="text" placeholder="Enter your name" class="form-input" value="@TempData["name"]">
						<span class="form-input-error @((error_name) ? "form-invalid-input": null)"></span>
					</div>

					<div class="form-input-group">
						<label class="form-label" for="phone">Phone</label>
						<input id="phone" name="name" type="text" placeholder="Enter your phone" class="form-input" value="@TempData["phone"]">
						<span class="form-input-error @((error_email) ? "form-invalid-input": null)"> "You must enter your phone</span>
					</div>

					<div class="form-input-group">
						<label class="form-label" for="phone">Email</label>
						<input id="email" name="email" type="text" placeholder="Enter your email address" class="form-input" value="@TempData["email"]">
						<span class="form-input-error @((error_email) ? "form-invalid-input": null)">You must enter your email</span>
					</div>
				

					<select class="form-input-group">
						<label>Dropdown here</label>										
					</select>

					<button type="submit" class="form-button btn-submit">SEND</button>

				}
			}
		</div>
	</div>
</section>

