@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.BLocks.BlocklistItem>
@using ContentModels Umbraco.Cms.Web.Common.PublishedModels;

@{
	
	var uniqueName = Model?.Content<string>("uniqueName");
	var labelText = Model?.Content<string>("labelText");
    var placeholder = Model?.Content<string>("placeholderText");
    var inputType = Model?.Content<string>("uniqueName");

    var isRequired = Model?.Content<string>("isRequired");
    var errorMessage = Model?.Content<string>("errorMessage");
	
}

<div id="_@uniqueName" class="form-input-group">
    <label class="form-label" for="@uniqueName">@labelText</label>
    <input id="@uniqueName" name="@uniqueName" type="password" placeholder="@placeholderText" class="form-input" required="@isRequired">

    @if(isRequired) {
    <span class="form-input-error"
    }

</div>
